<div class="navBar-box">
    <div class="navBar">
        <div class="logo"  style="width: 120px;margin: 0;padding: 0">
            <img src="./images/login/logo-company.png">
        </div>
        <nav class="res-navgation">
        <ul class="nav nav-pills">
            <li class="nav-pills-li active"><a href="#index" >首页</a></li>
            <li class="nav-pills-li"><a href="#product">产品</a></li>
            <li id="downloadAPP" class="nav-pills-li"><a href="javascript:void(0)">下载 APP</a></li>
            <li class="nav-pills-li"><a href="#help">帮助</a></li>
            <li class="nav-pills-li"><a href="#AboutUs">关于我们</a></li>
        </ul>
        </nav>
        <div class="registered-login">
            <a href="#registeredStepOne" class="btn-HR btn btn-default btn-sm">免费注册</a>
            <a href="javascript:void(0)" class="login-a btn btn-primary btn-sm">企业登陆</a>
        </div>
    </div>
</div>
<div id="guide-cover-bg" style="display: none;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black;z-index: 9998;-moz-opacity: 0.9;opacity: .90;filter: alpha(opacity=90);"></div>
<div id="guide-show" style="display: none;position: absolute;z-index: 9999;top:10px;right: 10px;"><img src="./images/icons/downloadguide.png" width="360px" height="191px"></div>
<div id="guide-cover-bg-nav" style="  width: 100%;height: 1186px;position: absolute;left: 0px;top: 0px;display: none;z-index: -1;background: rgba(0,0,0,0.5);"></div>