<div class="login-box">
    <section class="help" id="help">
        <!-- START THE NAVBAR -->
        <!-- END NAVBAR -->

        <!-- START THE CONTENT -->
        <div class="container bs-docs-container" style="padding: 0 20px;">
            <div class="row" style="margin: 0">
                <div class="header-empty"></div>
                <div class="panel panel-default" style="height: 500px;">
                    <!-- Default panel contents -->
                    <div class="panel-body">
                        <div class="btn-group btn-group-justified" role="group" aria-label="..." style="width: 100%; margin: 0 auto;">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default help-btn-default" data-date="Account">账户登录</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default help-btn-default" data-date="Platform">开放平台</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default help-btn-default" data-date="Installation">安装更新</button>
                            </div>
                        </div>
                    </div>

                    <!-- List group -->
                    <ul class="list-group tab-01" id="Account" style="display: block">
                        <li class="list-group-item">
                            <b>问：我的登录名是什么？</b>
                            <p>答：可以是您注册时设定的登录名，也可以使用您的手机号码登陆，如果您进行了邮箱验证，也可以使用邮箱地址登陆。</p>
                        </li>
                        <li class="list-group-item">
                            <b>问：忘记密码怎么办？</b>
                            <p>答：您可以点击登陆页面的<a href="javascript:void(0)">忘记密码</a>按钮，选择"邮箱找回"，按照系统提示操作即可。</p>
                        </li>
                    </ul>
                    <ul class="list-group tab-02" id="Platform" style="display: none">
                        <li class="list-group-item">
                            <b>问：如果我已经有HR管理系统，可否将Micro与我现有的管理系统进行集成？</b>
                            <p>答：可以，了解详情发送邮件至 Ritchard.Cheung@cdpgroupltd.com</p>
                        </li>
                    </ul>
                    <ul class="list-group tab-03"  id="Installation" style="display: none">
                        <li class="list-group-item">
                            <b>问：Micro APP 支持的系统？</b>
                            <p>答：支持IOS、Android系统。</p>
                        </li>
                        <li class="list-group-item">
                            <b>问：如何安装Micro？</b>
                            <p>答：您可以扫描点击页面上方"下载"按钮，进入。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="foot">
    <div class="footer-content">
        <div class="foot-left">
            <div class="log-subTitle">
                <img src="./images/login/logo_gray.png" width="70px;" title="logo">
                <div style="height: 20px;width:10px;margin-left:10px;border-left: 1px solid rgb(133, 133, 133);"></div>
                <p>Managing Human Capital</p>
            </div>
            <p style="margin: 0;font-size: 1rem">亚太地区领先的云端交付一站式人力资本服务供应商</p>
            <p style="margin: 0;font-size: 1rem">Copyright &copy; 2004-2015 CDP Group Ltd.</p>
        </div>
        <div class="foot-right">
            <!--<a class="button_weixin" href="javascript:void(0);" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>-->
            <a class="button_tsina" target="_blank" href="http://e.weibo.com/cdpgroup" title="CDP in weibo"><span class="jiathis_txt jtico jtico_tsina"></span></a>
            <a class="button_linkedin" target="_blank" href="http://www.linkedin.com/company/cdp-group-ltd-?trk=tabs_biz_home" title="CDP in LinkedIn"><span class="jiathis_txt jtico jtico_linkedin"></span></a>
            <a class="button_tqq" target="_blank" href="http://t.qq.com/CDP_Group" title="CDP in tencent weibo"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        </div>
    </div>
</div>
