<div class="login-box">
    <section class="login" id="login">
        <!-- START THE NAVBAR -->
        <!-- END NAVBAR -->

        <!-- START THE CONTENT -->
        <div class="container-fluid" style="padding: 0">
            <div class="row-fluid">
                <div class="header-empty" style="height: 50px;"></div>
                <div class="item visible-xs-block">
                    <img src="./images/login/m_index_001.jpg" style="margin: 0 auto;display: block;">
                    <div class="container-index-01-b">
                        <button type="button" class="btn btn-warning btn-HR btn-lg"><b>免费注册</b></button>
                    </div>
                </div>
                <div class="item visible-xs-block">
                    <img class="m-productImg" src="./images/login/m_index_002.jpg" style="margin: 0 auto;display: block;">
                </div>
                <div class="item visible-xs-block">
                    <img src="./images/login/m_index_003.jpg" style="margin: 0 auto;display: block;">
                </div>
                <div class="item visible-xs-block">
                    <img src="./images/login/m_index_004.jpg" style="margin: 0 auto;display: block;">
                </div>
                <div class="item visible-xs-block">
                    <img src="./images/login/m_index_005.jpg" style="margin: 0 auto;display: block;">
                </div>

                <div id="homeImg" class="item container-index-01 visible-sm-block visible-md-block visible-lg-block">
                    <div class="container-index-01-h">
                        <h1>如何开启<br/>MICRO&nbsp;之旅？</h1>
                        <div class="container-index-01-b">
                            <button type="button" class="btn btn-warning btn-HR btn-lg"><b style="text-shadow: rgb(81, 52, 11) 1px 1px 1px">免费注册</b></button>
                            <button type="button" class="login-a btn btn-primary btn-Employee btn-lg"><b style="text-shadow: rgb(8, 41, 69) 1px 1px 1px">企业登陆</b></button>
                        </div>
                    </div>
                </div>
                <div class="item visible-sm-block visible-md-block visible-lg-block">
                    <img src="./images/login/home001.png" style="margin: 0 auto;display: block;padding: 100px 0;">
                </div>
                <div class="item visible-sm-block visible-md-block visible-lg-block" style="background: rgb(251, 251, 251)">
                    <img class="w-productImg" src="./images/login/home002.png" style="margin: 0 auto;display: block;padding: 100px 0;">
                </div>
                <div class="item visible-sm-block visible-md-block visible-lg-block">
                    <img src="./images/login/home003.png" style="margin: 0 auto;display: block;padding: 100px 0;">
                </div>
                <div class="item visible-sm-block visible-md-block visible-lg-block"  style="background: rgb(244, 248, 249)">
                    <img src="./images/login/home004.png" style="margin: 0 auto;display: block;padding: 200px 0 0 0;">
                </div>
                <div class="item" style="text-align: center">
                    <!-- 轮播start -->
                    <h2 style="margin:30px 0;color: #2565a3;background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(26, 151, 172)), to(rgba(168, 238, 237, 1)));-webkit-background-clip: text; -webkit-text-fill-color: transparent;">他们的声音</h2>
                    <div class="J_imageSlider"></div>

                    <!-- 轮播end -->
                </div>
                <div class="visible-sm-block visible-md-block visible-lg-block item" style="background: white;border-bottom: 1px solid rgb(211, 215, 217)">
                    <img src="./images/login/home005.png"  style="margin: 0 auto;display: block;padding: 100px 0;">
                </div>
                <div class="visible-xs-block item" style="background: white;border-bottom: 1px solid rgb(211, 215, 217)">
                    <img src="./images/login/logos-s-001.png"  style="margin: 0 auto;display: block;padding: 50px 0 20px 0;">
                    <img src="./images/login/logos-s-002.png"  style="margin: 0 auto;display: block;padding: 20px 0;">
                    <img src="./images/login/logos-s-003.png"  style="margin: 0 auto;display: block;padding: 20px 0;">
                    <img src="./images/login/logos-s-004.png"  style="margin: 0 auto;display: block;padding: 20px 0 50px 0;">
                </div>
            </div>
        </div>


        <script type="text/template" id="login-language"></script>
    </section>
</div>
<div class="foot">
    <div class="footer-content">
        <div class="foot-left">
            <div class="log-subTitle">
                <img src="./images/login/logo_gray.png" width="70px;" title="logo">
                <div style="height: 20px;width:10px;margin-left:10px;border-left: 1px solid rgb(133, 133, 133);"></div>
                <p>Managing Human Capital</p>
            </div>
            <p style="margin: 0;font-size: 1rem">亚太地区领先的云端交付一站式人力资本服务供应商</p>
            <p style="margin: 0;font-size: 1rem">Copyright &copy; 2004-2015 CDP Group Ltd.</p>
        </div>
        <div class="foot-right">
            <!--<a class="button_weixin" href="javascript:void(0);" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>-->
            <a class="button_tsina" target="_blank" href="http://e.weibo.com/cdpgroup" title="CDP in weibo"><span class="jiathis_txt jtico jtico_tsina"></span></a>
            <a class="button_linkedin" target="_blank" href="http://www.linkedin.com/company/cdp-group-ltd-?trk=tabs_biz_home" title="CDP in LinkedIn"><span class="jiathis_txt jtico jtico_linkedin"></span></a>
            <a class="button_tqq" target="_blank" href="http://t.qq.com/CDP_Group" title="CDP in tencent weibo"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        </div>
    </div>
</div>
