<div id="header" class="header">
    <header>
        <h2>Settings Language</h2>
    </header>
</div>
<div class="pages-bg">
    <section class="holder">
            <ul class="language-settings-ul">
                <li>
                    <span  class="language-settings" data-id="zh_cn">中文简体</span>
                </li>
                <li>
                    <span class="language-settings" data-id="zh_tw">中文繁體</span>
                </li>
                <li>
                    <span class="language-settings language-settings-nav" data-id="en_us">English</span>
                </li>
            </ul>
            <ul id="operate" class="btn-h-group">
                <li class="flex-btn"><button id="btnCancel">Cancel</button></li>
                <li class="flex-btn"><button id="btnOk">Confirm</button></li>
            </ul>
    </section>
</div>
