<div class="login-box">
    <section class="help" id="help">
        <!-- START THE NAVBAR -->
        <!-- END NAVBAR -->

        <!-- START THE CONTENT -->
        <div class="container bs-docs-container" style="padding: 0 20px;">
            <div class="row-fluid">
                <div class="header-empty"></div>
                <div class="col-sm-6 col-md-12" style="padding: 0">
                    <div class="thumbnail">
                        <img src="./images/aboutUs/aboutUs001.jpg"/>
                        <p>
                            上海才烁人才信息咨询有限公司凭借世界级的云平台技术、全球HR最佳实践及标准化的HR流程，成为亚太地区领先的HR“一站式”服务供应商。CDP通过灵活的HR外包服务、共享服务及按需服务模式，帮助企业优化人力资源管理，取得HR最佳业绩，从而助力企业人力资源成功转型。CDP丰富的本地实践与全球服务经验使之成为人力资源服务行业的翘楚。CDP提供的全方位HR管理解决方案包括员工数据管理（EDM）、定制化薪酬服务、员工福利管理（EBM）、在线请假管理、外籍员工服务及人事派遣等。CDP作为企业的业务合作伙伴，帮助企业减低成本并提升生产效率，让企业更专注于其战略管理。
                        </p> <p>
                        CDP HR“一站式”外包服务具有高度整合性的特点，通过单一合同、同一供应商以及统一集中平台帮助各行业、各规模的企业更好地进行HR管理和优化其管理的有效性和效率。我们专注于成本与效率的优化，通过集成的HR解决方案，循序渐进地帮助人力资源工作者实现长期业务目标与商业价值。
                    </p> <p>
                        CDP的总部位于中国上海，在中国及亚太主要地区设有分公司。国内服务网点遍布包括北京、苏州、广州、深圳、武汉、大连、青岛和天津在内的200多个城市，并在香港、台湾、澳门、新加坡、马来西亚、印度、泰国以及澳大利亚设有办事处。CDP通过基于世界级云技术的集中化平台及全球标准，将解决方案与客户的全球HR及财务系统进行无缝集成，为我们的客户实施员工主数据管理以确保数据的完整性并生成实时报告。我们致力于通过创新的HCM服务，为客户创造最佳商业价值。
                    </p> <p>
                        CDP以“人、流程、平台”为核心竞争力的3P管理模式成为其与市场竞争对手区别开来的关键所在。我们深信CDP作为您的长期业务合作伙伴，是能够帮助您实现HR战略目标的不二选择。
                    </p>
                        <strong style="color: red">我们始终以客户需求为导向，依托创新的产品与服务，通过高效的团队执行力，追求卓越的致胜精神。</strong>
                        <img src="./images/aboutUs/aboutUs002.jpg"/>
                        <button type="button" id="moreInfo" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off" style="  margin-left: auto;margin-right: auto;display: block;min-width: 200px;">
                            <a href="http://www.cdpgroupltd.com/" style="color: white;text-decoration:none;">了解更多</a>
                        </button>
                    </div>
                </div>
                </div>
            </div>
    </section>
</div>
<div class="foot">

    <div class="footer-content">
        <div class="foot-left">
            <div class="log-subTitle">
                <img src="./images/login/logo_gray.png" width="70px;" title="logo">
                <div style="height: 20px;width:10px;margin-left:10px;border-left: 1px solid rgb(133, 133, 133);"></div>
                <p>Managing Human Capital</p>
            </div>
            <p style="margin: 0;font-size: 1rem">亚太地区领先的云端交付一站式人力资本服务供应商</p>
            <p style="margin: 0;font-size: 1rem">Copyright &copy; 2004-2015 CDP Group Ltd.</p>
        </div>
        <div class="foot-right">
            <!--<a class="button_weixin" href="javascript:void(0);" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>-->
            <a class="button_tsina" target="_blank" href="http://e.weibo.com/cdpgroup" title="CDP in weibo"><span class="jiathis_txt jtico jtico_tsina"></span></a>
            <a class="button_linkedin" target="_blank" href="http://www.linkedin.com/company/cdp-group-ltd-?trk=tabs_biz_home" title="CDP in LinkedIn"><span class="jiathis_txt jtico jtico_linkedin"></span></a>
            <a class="button_tqq" target="_blank" href="http://t.qq.com/CDP_Group" title="CDP in tencent weibo"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        </div>
    </div>

</div>
