<div id="ChangePWD-box">
    <script type="text/template" id="ChangePWD">
        <div id="header" class="header">
            <header>
                <h2><%=lanStore.passwordSettings %></h2>
            </header>
        </div>
        <div class="pages-bg">
            <section class="holder">
                <ul>
                    <li class="form-item-li form-item-li-noborder">
                    </li>
                </ul>
                <ul id="operate" class="btn-h-group">
                    <li class="flex-btn"><button id="btnCancel"><%=lanStore.cancel %></button></li>
                    <li class="flex-btn"><button id="btnOk"><%=lanStore.confirm %></button></li>
                </ul>
            </section>
        </div>
    </script>
</div>
