<div class="login-box">
    <section class="help" id="help">

        <!-- START THE CONTENT -->
        <div class="container bs-docs-container" style="padding: 10px;">
            <div class="header-empty"></div>
            <ul class="registered-step-ul">
                <li><span class="step-round gray"><e>1</e></span><div class="step-font font-gray">创建企业</div></li>
                <li><span class="step-round gray"><e>2</e></span><div class="step-font font-gray">注册账号</div></li>
                <li><span class="step-round blue"><e>3</e></span><div class="step-font font-blue">注册成功</div></li>
            </ul>
            <div class="panel panel-default panel-shadow">
                <div class="panel-body visible-xs-block visible-sm-block" style="min-height: 300px; max-width: 650px; margin: 0 auto;padding:0 30px;">
                    <h3 style="margin: 30px 0;text-align: center;color: rgb(216, 7, 54);">注册成功！</h3>
                    <h4 style="margin: 10px 0;text-align: center">您可能会感兴趣：</h4>
                    <div class="item">
                        <img class="shareEmployee" src="./images/icons/share_001.jpg" style="margin: 0 auto;display: block;padding: 10px 0;">
                    </div>
                    <div class="item">
                        <img class="shareHR" src="./images/icons/share_002.jpg" style="margin: 0 auto;display: block;padding: 10px 0 50px 0;">
                    </div>
                </div>
                <div class="panel-body visible-md-block visible-lg-block" style="min-height: 500px; max-width: 650px; margin: 0 auto">
                    <h3 style="margin: 30px 0">您对以下哪些服务有兴趣？请选择：</h3>
                    <div id="warp-list" class="row">
                        <script type="text/template" id="spreadList_tpl">
                            <%for(var i = 0, len = spread_list_data.length; i < len; i++) { %>
                            <div class="col-sm-6 col-md-6" data-date="<%=spread_list_data[i].code%>">
                                <span class="choose-checkmark-hide" style="position: absolute"><img src="./images/icons/selected.png"></span>
                                <div class="thumbnail btn btn-default SS-btn SS-btn-icon001">
                                    <span class="step-icon-bg icon001-pos-blue" style="background: url('<%=spread_list_data[i].pic%>'); background-size: 52px 120px;"></span>
                                    <div class="caption">
                                        <h3><%=spread_list_data[i].title%></h3>
                                        <b><%=spread_list_data[i].content%></b>
                                        </br>
                                        <b><%=spread_list_data[i].price%></b>
                                    </div>
                                </div>
                            </div>
                            <% }%>
                        </script>
                    </div>

                    <div class="row" style="display: none">
                        <div class="col-sm-6 col-md-6">
                            <span class="choose-checkmark-hide" style="position: absolute"><img src="./images/icons/selected.png"></span>
                            <div class="thumbnail btn btn-default SS-btn SS-btn-icon001">
                                <span class="step-icon-bg icon001-pos-blue"></span>
                                <div class="caption">
                                    <h3>社保公积金代理</h3>
                                    <b>开户入职 增减员工</b>
                                    </br>
                                    <b>离职停保 信息变更</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <span class="choose-checkmark-hide" style="position: absolute"><img src="./images/icons/selected.png"></span>
                            <div class="thumbnail btn btn-default SS-btn SS-btn-icon002">
                                <span class="step-icon-bg icon002-pos-blue"></span>
                                <div class="caption">
                                    <h3>补充社保金代理</h3>
                                    <b>补充医疗 补充工伤 </b>
                                    </br>
                                    <b>意外保险 社区医疗</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <span class="choose-checkmark-hide" style="position: absolute"><img src="./images/icons/selected.png"></span>
                            <div class="thumbnail btn btn-default SS-btn SS-btn-icon003">
                                <span class="step-icon-bg icon003-pos-blue"></span>
                                <div class="caption">
                                    <h3>商保理赔</h3>
                                    <b>疾病 寿险 家财险</b>
                                    </br>
                                    <b> 车险 出行意外保险 </b>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <span class="choose-checkmark-hide" style="position: absolute"><img src="./images/icons/selected.png"></span>
                            <div class="thumbnail btn btn-default SS-btn SS-btn-icon004">
                                <span class="step-icon-bg icon004-pos-blue"></span>
                                <div class="caption">
                                    <h3>健康体检</h3>
                                    <b>医疗计划 齿科眼科</b>
                                    </br>
                                    <b> 健康体检 </b>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <span class="choose-checkmark-hide" style="position: absolute"><img src="./images/icons/selected.png"></span>
                            <div class="thumbnail btn btn-default SS-btn SS-btn-icon005">
                                <span class="step-icon-bg icon005-pos-blue"></span>
                                <div class="caption">
                                    <h3>工商注册</h3>
                                    <b>疾病  寿险  家财险</b>
                                    </br>
                                    <b>车险 出行意外保险</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <span class="choose-checkmark-hide" style="position: absolute"><img src="./images/icons/selected.png"></span>
                            <div class="thumbnail btn btn-default SS-btn SS-btn-icon006">
                                <span class="step-icon-bg icon006-pos-blue"></span>
                                <div class="caption">
                                    <h3>代理记账</h3>
                                    <b>疾病  寿险  家财险</b>
                                    </br>
                                    <b> 车险 出行意外保险 </b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer visible-md-block visible-lg-block" style="text-align:right;">
                    <button id="OKNextStep-three" type="button" class="btn btn-primary" style="padding: 0 30px;">确定</button>
                </div>

            </div>
        </div>
    </section>
</div>
<div class="foot">
    <div class="footer-content">
        <div class="foot-left">
            <div class="log-subTitle">
                <img src="./images/login/logo_gray.png" width="70px;" title="logo">
                <div style="height: 20px;width:10px;margin-left:10px;border-left: 1px solid rgb(133, 133, 133);"></div>
                <p>Managing Human Capital</p>
            </div>
            <p style="margin: 0;font-size: 1rem">亚太地区领先的云端交付一站式人力资本服务供应商</p>
            <p style="margin: 0;font-size: 1rem">Copyright &copy; 2004-2015 CDP Group Ltd.</p>
        </div>
        <div class="foot-right">
            <!--<a class="button_weixin" href="javascript:void(0);" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>-->
            <a class="button_tsina" target="_blank" href="http://e.weibo.com/cdpgroup" title="CDP in weibo"><span class="jiathis_txt jtico jtico_tsina"></span></a>
            <a class="button_linkedin" target="_blank" href="http://www.linkedin.com/company/cdp-group-ltd-?trk=tabs_biz_home" title="CDP in LinkedIn"><span class="jiathis_txt jtico jtico_linkedin"></span></a>
            <a class="button_tqq" target="_blank" href="http://t.qq.com/CDP_Group" title="CDP in tencent weibo"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        </div>
    </div>
</div>
