<div class="login-box">
    <section class="help" id="help">
        <!-- START THE CONTENT -->
        <div class="container bs-docs-container" style="padding: 10px;">
            <div class="header-empty"></div>
            <ul class="registered-step-ul">
                <li><span class="step-round gray"><e>1</e></span><div class="step-font font-gray">创建企业</div></li>
                <li><span class="step-round gray"><e>2</e></span><div class="step-font font-gray">注册账号</div></li>
                <li><span class="step-round blue"><e>3</e></span><div class="step-font font-blue">注册成功</div></li>
            </ul>
            <div class="panel panel-default panel-shadow">
                <div class="panel-body" style="min-height: 500px;">
                    <p>欢迎您<e id="enterprise-full-name"></e>，接下来您可以：</p>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="./images/login/deptGrid.jpg" style="padding:50px 0;margin: 0 auto;display: block">
                            <button id="deptGrid" type="button" class="btn btn-primary" style="width: 100%">添加部门</button>
                        </div>
                        <div class="col-md-4">
                            <img src="./images/login/empGrid.jpg" style="padding:50px 0;margin: 0 auto;display: block">
                            <button id="empGrid" type="button" class="btn btn-primary"  style="width: 100%">添加员工</button>
                        </div>
                        <div class="col-md-4">
                            <img src="./images/login/empImport.jpg" style="padding:50px 0;margin: 0 auto;display: block">
                            <button id="empImport" type="button" class="btn btn-primary"  style="width: 100%">导入员工</button>
                        </div>
                    </div>
                </div>

                <div class="panel-footer" style="text-align:right;">
                    <p>没收到激活邮件？<a href="javascript:(0)">重新发送邮件</a></p>
                </div>

            </div>
        </div>
    </section>
</div>
<div class="foot">
    <div class="footer-content">
        <div class="foot-left">
            <div class="log-subTitle">
                <img src="./images/login/logo_gray.png" width="70px;" title="logo">
                <div style="height: 20px;width:10px;margin-left:10px;border-left: 1px solid rgb(133, 133, 133);"></div>
                <p>Managing Human Capital</p>
            </div>
            <p style="margin: 0;font-size: 1rem">亚太地区领先的云端交付一站式人力资本服务供应商</p>
            <p style="margin: 0;font-size: 1rem">Copyright &copy; 2004-2015 CDP Group Ltd.</p>
        </div>
        <div class="foot-right">
            <!--<a class="button_weixin" href="javascript:void(0);" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>-->
            <a class="button_tsina" target="_blank" href="http://e.weibo.com/cdpgroup" title="CDP in weibo"><span class="jiathis_txt jtico jtico_tsina"></span></a>
            <a class="button_linkedin" target="_blank" href="http://www.linkedin.com/company/cdp-group-ltd-?trk=tabs_biz_home" title="CDP in LinkedIn"><span class="jiathis_txt jtico jtico_linkedin"></span></a>
            <a class="button_tqq" target="_blank" href="http://t.qq.com/CDP_Group" title="CDP in tencent weibo"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        </div>
    </div>
</div>
