<div id="header" class="header">
    <header>
        <h2>Settings</h2>
    </header>
</div>
<div class="settings-page">
    <div class="list-item-nav language-settings-page">
        <span class="slide-icon sd_20"></span><span>Language</span><span class="triangle-icon triangle-icon-up"></span>
    </div>
    <ul class="ul-list-nav">
        <li>
            <span  class="language-settings-nav">中文简体</span>
        </li>
        <li>
            <span class="language-settings-nav">中文繁體</span>
        </li>
        <li>
            <span class="language-settings-nav">English</span>
        </li>
    </ul>
    <div class="list-item-nav password-settings-page">
        <span class="slide-icon sd_13"></span><span>Password Settings</span><span class="triangle-icon triangle-icon-up"></span></li>
    </div>
    <ul class="ul-list-nav">
        <li class="form-item-li form-item-li-noborder">
            <div class="form-control"><input type="password" id="orgPwd" placeholder="Former Password"></div>
        </li>
        <li class="form-item-li form-item-li-noborder">
            <div class="form-control"><input type="password"  id="newPwd" placeholder="New Password"></div>
        </li>
        <li class="form-item-li form-item-li-noborder">
            <div class="form-control"><input type="password" id="new2Pwd" placeholder="Comfirm New Password"></div>
        </li>
        <li>
            <div class="gap-v"  style="margin: 15px 0;">
                <h2>更安全的密码设置规则</h2>
                <h3>1.不少于6位</h3>
                <h3>2.包含大写字母</h3>
                <h3>3.包含小写字母</h3>
                <h3>4.包含特殊字母</h3>
            </div>
        </li>
        <ul class="btn-h-group" style="padding: 15px 0;">
            <li class="flex-btn"><button id="btnOk">确定</button></li>
            <li class="flex-btn"><button id="btnCancel">取消</button></li>
        </ul>
    </ul>
    <div class="list-item-nav">
        <span class="slide-icon sd_19"></span><span>Log Out</span>
    </div>
</div>
