<div class="login-box">
    <section class="help" id="help">

        <!-- START THE CONTENT -->
        <div class="container bs-docs-container" style="padding: 10px;">
            <div class="header-empty"></div>
            <div class="panel panel-default panel-shadow">
                <div class="panel-body visible-xs-block visible-sm-block" style="min-height: 300px; max-width: 650px; margin: 0 auto;padding:10px 30px;">
                    <div class="item" style="background-image: url('./images/icons/gift.png');height: 300px;width: 248px;margin: 0 auto;">
                        <img class="downloadURL-QD" src="./images/icons/downloadWWW.png" style="margin: 0 auto;display: block;padding: 82px 0;">
                    </div>
                    <p style="margin: 10px 0;text-align: center">长按图中二维码，将APP下载地址分享到微信朋友圈或发送给微信好友</p>
                </div>
                <div class="panel-footer visible-md-block visible-lg-block" style="text-align:right;">
                    <button id="OKNextStep-three" type="button" class="btn btn-primary" style="padding: 0 30px;">确定</button>
                </div>

            </div>
        </div>
    </section>
</div>
<div class="foot">
    <div class="footer-content">
        <div class="foot-left">
            <div class="log-subTitle">
                <img src="./images/login/logo_gray.png" width="70px;" title="logo">
                <div style="height: 20px;width:10px;margin-left:10px;border-left: 1px solid rgb(133, 133, 133);"></div>
                <p>Managing Human Capital</p>
            </div>
            <p style="margin: 0;font-size: 1rem">亚太地区领先的云端交付一站式人力资本服务供应商</p>
            <p style="margin: 0;font-size: 1rem">Copyright &copy; 2004-2015 CDP Group Ltd.</p>
        </div>
        <div class="foot-right">
            <!--<a class="button_weixin" href="javascript:void(0);" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>-->
            <a class="button_tsina" target="_blank" href="http://e.weibo.com/cdpgroup" title="CDP in weibo"><span class="jiathis_txt jtico jtico_tsina"></span></a>
            <a class="button_linkedin" target="_blank" href="http://www.linkedin.com/company/cdp-group-ltd-?trk=tabs_biz_home" title="CDP in LinkedIn"><span class="jiathis_txt jtico jtico_linkedin"></span></a>
            <a class="button_tqq" target="_blank" href="http://t.qq.com/CDP_Group" title="CDP in tencent weibo"><span class="jiathis_txt jtico jtico_tqq"></span></a>
        </div>
    </div>
</div>
